.registration-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    overflow: hidden;
}

.registration-form h2 {
    text-align: center;
}

.registration-form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 350px;
    max-height: 90vh;
    margin: 10px;
    overflow-y: scroll;
    scrollbar-width: none; 
    -ms-overflow-style: none;
    flex-direction: column;
}

.registration-form form{
    display: flex;
    flex-direction: column;
}

.registration-form::-webkit-scrollbar {
    display: none;
}

.registration-form form .form-group {
    display: flex;
    flex-direction:column;
    justify-content: center;
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    text-align: center;
}

.form-group input[type="text"],
.form-group input[type="date"],
.form-group input[type="email"],
.form-group input[type="password"],
.form-group select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.form-group select {
    height: 35px;
}

.form-group input[type="submit"],
.form-group button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

.form-group input[type="submit"]:hover,
.form-group button:hover {
    background-color: #45a049;
}

.drop-zone {
    border: 2px dashed #ccc;
    width: 425px;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 15px;
}

.drop-zone.active {
    background-color: #e0e0e0;
}

.drop-zone p {
    margin: 0;
    font-size: 16px;
    color: #666;
}

.in-registration{
    width: auto;
}